<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="cupangForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-16">
          <button type="submit" class="btn btn-success" [disabled]="!cupangForm.valid">Menyimpan</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()" >Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Nama</label>
            <input type="text"
            id="name" 
            formControlName="name"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-14">
          <div class="form-group">
            <label for="imagePath">Gambar</label>
            <input type="text" id="imagePath"  formControlName="imagePath" class="form-control"
            #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Deskripsi</label>
            <textarea type="text" id="description" class="form-control" formControlName="description" rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="tipes">
          <div class="row" 
          *ngFor="let tipeCtrl of cupangForm.get('tipes').controls; let i= index"
          [formGroupName]="i"
          style="margin-top: 100px;">
            <div class="col-xs-12">
                <input type="text"  class="form-control"
                formControlName="name">
            </div>
            <div class="col-xs-12">
                <input type="number"  class="form-control"
                formControlName="amount">
            </div>
            <div class="col-xs-12">
                <button class="btn btn-danger"
                (click)="onDeleteTipe(i)">x</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <hr>
              <button type="button" class="btn btn-success" (click)="onAddTipe()">Add Tipe</button>
            </div>
          </div>
         </div>
      </div>
    </form>
  </div>
</div>